.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-image:linear-gradient(0deg, rgba(235.0000011920929, 159.0000057220459, 252.00000017881393, 1) 0%,rgba(247.00000047683716, 221.00000202655792, 220.00000208616257, 1) 61.45833134651184%,rgba(248.0000004172325, 182.00000435113907, 172.00000494718552, 1) 100%) ;
	width:1512px;
	height:982px;
	position:absolute;
}.e1_3 { 
	color:rgba(0, 0, 0, 1);
	width:650px;
	height:136px;
	position:absolute;
	left:447px;
	top:281px;
	font-family:Inter;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}.e1_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:256px;
	height:62px;
	position:absolute;
	left:38px;
	top:32px;
}.e1_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:256px;
	height:62px;
	position:absolute;
	left:321px;
	top:32px;
}.e1_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:256px;
	height:62px;
	position:absolute;
	left:604px;
	top:32px;
}.e1_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:256px;
	height:62px;
	position:absolute;
	left:887px;
	top:32px;
}.e1_9 { 
	width:78px;
	height:67px;
	position:absolute;
	left:1369px;
	top:32px;
}.1_10 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e1_10 { 
	width:78px;
	height:25.125px;
	position:absolute;
	left:0px;
	top:41.875px;
}.1_11 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e1_11 { 
	width:29.25px;
	height:25.125px;
	position:absolute;
	left:24.375px;
	top:0px;
}.e1_14 { 
	width:580px;
	height:540px;
	position:absolute;
	left:-63px;
	top:224px;
	background-image:url(images/div_pattern2_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:740px;
	height:434px;
	position:absolute;
	left:449px;
	top:458px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}